@charset "UTF-8"; /*한글사용시 추가*/
body { 
    width: 100%;
    min-width:360px;
}
.contbody_scroll {overflow: hidden;} /*lnb 버튼을 눌렀을때 가로스크롤 생기는거 없애주기위해 감싸는 div를 만들어줌*/
/* 레이아웃 */

#wrap {
    position: relative; /*제이쿼리 애니메이트 left사용하기 위해 넣어줌*/
    width: 100%;
    height: 100%;
}
header {
    height: 45px;
    background:#33353F;
}
#con_wrap {
    
}
.main_wrap {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 177px); 전체에서 헤더값(45px)과 푸더값(억지로 지정)을 빼고 나머지를 화면크기에 따라 반응하도록 지정 */
}
    #con_up {
        flex: 2;
        display: flex;
    }
    .s1-1 { 
        flex:1;
        /* background: #4AB8BC; */
    }
    .con_up_right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
        .s1-2 { 
            /* background:#589DD2; */
            flex:1;
            }
        .s1-3 { 
            /* background:#FF912F; */
            flex:1;
            }
    #con_down {
        flex: 1;
        display: flex;                    
    }
        .s2-1 {
            /* background:#589DD2; */
            flex: 1;}
        .s2-2 {
            /* background: #8DCA35; */
            flex: 1;}

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10; /*다른absolute 준 돋보기랑 푸터위에 올려주기위해*/
}         

/* 헤더 */
header {
    padding: 0 45px;
    width: 100%;
    
}
    .lnb_btn { 
        float: left;
        left: -45px;
        position: relative;
        z-index: 20;
    }
    .logo {         
        float: left;
        width: 100%;
        margin: 0 -45px;
        text-align: center;
        line-height: 1; /*나중에 추가 확인할것*/

    }
    .search_btn {
        float: right;
        position: relative;
        left: 45px;
    }

header img {
    height: 45px;

}    

/* content */
.main_wrap {
    padding: 6px
}
.main_wrap section {
    display: table;
}
section > a {
    display: table-cell;
    width: 100%;
    height: 100%; 
    text-align: center;
    vertical-align: middle;   
}
    #con_up {  
        padding-bottom:3px; /*패딩을 이용해서 하얀색 테두리를 만들어줌*/
    }

        .s1-1 { 
            padding-right: 3px;          
        }
        .s1-1 a { 
            background: #4AB8BC;          
        }
        .s1-1 a img { 
            width: 120px;
        }

    .con_up_right { 
        padding-left: 3px;
    }

        .s1-2 { 
            padding-bottom: 3px;
        }
        .s1-2 a {
            background:#589DD2;
        }
        .s1-2 a img { 
            width: 110px;
        }

        .s1-3 {    
        padding-top: 3px;
        }
        .s1-3 a {  
            background:#FF912F;
        }
        .s1-3 a img {  
            width: 121px;
        }

    #con_down { 
        padding-top: 3px;
    }

        .s2-1 { 
            padding-right: 3px;
        }
        .s2-1 a { 
            background:#589DD2;
        }
        .s2-1 a img { 
            width: 124px;
        }

        .s2-2 { 
            padding-left: 3px;
        }
        .s2-2 a { 
            background: #8DCA35;
        }
        .s2-2 a img {
            width: 131px;    
        }


/* footer */
footer {
    /* position: fixed; width를 지정해주지 않으면 내용물만큼만
    bottom: 0;
    left: 0;
    width: 100%; */
    background: #222222;
    padding: 15px 6px;

}

ul.quickmenu {
    display: table;
    width: 100%;
}
ul.quickmenu li {
    display: table-cell;
    width: 33.33%;    
    border-left: 1px solid #ccc;
    border-right: 1px solid #222222;
    background: #535357;
    
}

ul.quickmenu li:first-child {
    border-left: none;
}

ul.quickmenu li:last-child {
    border-right: none;
}
ul.quickmenu li a {
    display: block; /*마우스 반응 영역을 설정하기 위해 추가함*/
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 33px;
}

.telSns {
    margin-top: 15px;    
}
.telSns a {
    font-size: 23px;
    color: #fff;
}

.telSns a img {
    width: 24px;
    margin-left: 5px;
}

.pc {
    position: absolute;
    right: 6px;
    margin-top: -25px;
    text-align: right;
}

.pc a {
    background: #000000;
    display: inline-block;
    padding: 4px 6px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}

.copy {
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}

/* 좌측 슬라이더 메뉴 lnb */
#lnb { 
    position: fixed;
    top: 0;
    left: -274px; /*cover 크기만큼 왼쪽으로 이동*/
    width: 274px;
    height: 100%;
    background: #f1f1f1;
    z-index: 100; /*z-index를 사용하기 위해서는 position값이 있어야한다*/
} 
.lnb_login { 
    background: #111111;
    text-align: center;
    padding: 35px 0;
}
.lnb_login p { 
    color: #fff;
    text-align: left;
    margin:0 0 20px 20px;
    font-size: 13px;
    
}
.lnb_login img {
    width: 232px; 
}

.lnb_list {}
.lnb_list li { 
    border-bottom: 1px solid #ddd;
}
.lnb_list img {
    width: 274px;    
}


.lnb_res {
    padding-top: 40px;
    text-align: center;
}

.lnb_res img {
    width: 235px;
}


